.git
.gitignore
.dockerignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
docker-compose.yml
docker-compose.production.yml
Dockerfile.production
deploy.sh
nginx-server.conf
*.md
.env*
!.env.example
tests
docs
